@model Assignment.Areas.Admin.Models.ViewModel
@{
    ViewBag.Title = "ទំព័រដើម";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<section id="featured">
	<!-- start slider -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="~/Content/img/slides/1.jpg" alt="" />
                <div class="flex-caption">
                    <h3>ការស្រាវជ្រាវ</h3>
                    <p>គឺជាកត្តាដ៏សំខាន់មួយសំរាប់សិស្សនិស្សិត ទាំងអស់ក្នុងការឆ្ពោះទៅកាន់​ភាពជោកជ័យ</p>
                </div>
              </li>
              <li>
                <img src="~/Content/img/slides/2.jpg" alt="" />
                <div class="flex-caption">
                    <h3>ការសហការក្រុម</h3>
                    <p>ជាផ្នែកមួយដែលជួយដល់យើងក្នុងការ<br /> ប្រមូលផ្ដុំព័ត៌មាន ផ្តាស់ប្តូរចំនេះដឹង</p>
                </div>
              </li>
              <li>
                <img src="~/Content/img/slides/3.jpg" alt="" />
                <div class="flex-caption">
                    <h3>ការពិសោធន៍</h3>
                    <p>អាចជួយឲ្យយើងកាន់<br />តែស្គាល់កាន់តែច្បាស់ពីវត្តុនោះ</p>
                </div>
              </li>
            </ul>
        </div>
	<!-- end slider -->
			</div>
		</div>
	</div>	
</section>

<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="big-cta">
					<div class="cta-text">
						<h2>សូមស្វាគមន៍ការចូលមកកាន់ <span>ខ្មែរ DEMO</span></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				
                @try {
                    var i=1;                    
                    foreach (var item in Model.AllPosts) {
                        if(i%4==0){
                            @:<div class="row">
                        }
                        
                    <div class="col-lg-3">
						<div class="box">
							<div class="box-gray">
								<div class="aligncenter">
                                    <h4>@Html.DisplayFor(model => item.Title)</h4>
								    <div class="icon">
								    <i class="fa fa-desktop fa-3x"></i>
								    </div>
                                </div>
								<p style="text-align:justify;">
									@Html.DisplayTextFor(model => item.SubString)
								</p>
										
							</div>
							<div class="box-bottom">
                                @Html.ActionLink("អានលំអិតបន្ថែម >>", "ViewPost", new { id=item.Id })
							</div>
						</div>
					</div>
                    if(i%4==0){
                        @:</div>
                        }
                    i++;
                    }
                }
                catch (NullReferenceException ex) {  
                    <div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>មិនមានអត្តបទនេះទេ</h4>
								<div class="icon">
								<i class="fa fa-desktop fa-3x"></i>
								</div>
								<p>
									សូមមេត្តាអាធ្យាស្រ័យ
								</p>
							</div>
                            <div class="box-bottom">
                                <a href="">អរគុណចំពោះការទស្សនា</a>    
						    </div>
						</div>
					</div>   
                }
                    
  
                        
					
				</div>
			</div>
		</div>
		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->
		<!-- Portfolio Projects -->
@*		<div class="row">
			<div class="col-lg-12">
				<h4 class="heading">Recent Works</h4>
				<div class="row">
					<section id="projects">
					<ul id="thumbs" class="portfolio">
						<!-- Item Project and Filter Name -->
						<li class="col-lg-3 design" data-id="id-0" data-type="web">
						<div class="item-thumbs">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 1" href="img/works/1.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="img/works/1.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
						</div>
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 design" data-id="id-1" data-type="icon">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 2" href="img/works/2.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="img/works/2.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 3" href="img/works/3.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="img/works/3.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 4" href="img/works/4.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="img/works/4.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
						</li>
						<!-- End Item Project -->
					</ul>
					</section>
				</div>
			</div>
		</div>
*@
	</div>
</section>