@{
    ViewBag.Title = "បង្កើតអត្ថបទថ្មី";
}

<h2>បង្កើតអត្ថបទថ្មី</h2>


    <div class="form-group">
        <label for="txtTitle">ចំណងជើង</label>
        <input type="text" class="form-control" id="txtTitle" placeholder="Enter title..." />
    </div>
    <div class="form-group">
        <label for="txtContent">ខ្លឹមសារ</label>
        <textarea id="txtContent" class="ckeditor form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="cboCategory">ប្រភេទ</label>
        <select class="form-control" id="cboCategory">
             @foreach (var category in ViewData["Categories"] as IEnumerable<ArticleManagement.Areas.Admin.Models.CategoryModel>)
                {
                  <option value="@category.Id">@category.Name</option>        
                }
        </select>
    </div>
    <button type="submit" class="btn btn-primary" id="btnSubmit">បង្កើតថ្មី</button>

@section Scripts{
    <script type="text/javascript">
        
        $(function () {
            $("#btnSubmit").click(function () {
                var JSONData = new Object();
                JSONData.Title = $("#txtTitle").val();
                JSONData.Content = $("textarea.ckeditor").val();
                var Category = new Object();
                Category.Id = $("#cboCategory").val();
                JSONData.Category = Category;
                $.ajax({
                    type: "POST",
                    url: "/articles/create",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(JSONData)
                })
                .success(function (responseData) {
                    if (responseData.MESSAGE == "1") {
                        alert("You have been inserted successfully...");
                    } else {
                        alert("Cannot insert...");
                    }
                })
                .error(function (responseError) {
                    alert("Your searching is error..."+ responseError.statusText);
                });
            });
        });        
    </script>
}